<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Blog Control Panel</h2>
    <p>@Html.ActionLink("Add article", "Add");</p>
    <p>@Html.ActionLink("Delete article", "DeleteWall");</p>
    <form action="~/Home/Logout" method="post">
        <input type="submit" name="Logout" value="Logout" />
    </form>
</body>
</html>
