<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>Registration page</p>
    <form action="~/Home/Register" method="post">
        <p>
            <label>Login: </label>
            <input type="text" name="Login" value="" />
        </p>
        <p>
            <label>Password: </label>
            <input type="password" name="Password" value="" />
        </p>
        <p>
            <label>Confirm password: </label>
            <input type="password" name="ConfirmPassword" value="" />
        </p>
        <p><input type="submit" name="Submit" value="Submit" /></p>
    </form>
</body>
</html>
